@model AOWebApp.ViewModel.ItemSearchViewModel;
@* @model IEnumerable<AOWebApp.Models.Item> *@
@* @model IEnumerable<dynamic> *@

@{
    ViewData["Title"] = "Index";
}


<h1 class="h2.Bootstrap heading text-center">Shop Items</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary mb-3">Create New</a>
</p>
<br />
<form method="post">
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Item Search</span>
        <select asp-for="CategoryId" asp-items="Model.CategoryList" class="form-control">
            <option value="">All categories...</option>
        </select>
        <input asp-for="SearchText" class="form-control" title="Search by item name. Max 100 chars." maxlength="100" placeholder="Type here..."
               aria-label="Item search Input" aria-describedby="inputGroup-sizing-default"/>
    </div>

    <input type="submit" class="btn btn-outline-primary" value="Submit"/>
    <a asp-action="Index" class="btn btn-outline-danger">Reset</a>
</form>
<br/>
<br/>

@{
    bool isSearch = false;
    int count = 0;
    if (Model != null)
    {
        isSearch = !string.IsNullOrWhiteSpace(Model.SearchText) || Model.CategoryId.HasValue;
        if (Model.ItemList != null)
        {
            count = Model.ItemList.Count;
        }
    }

}


@if(isSearch && count > 0)
{   
    <p>
        Your search returned @count matching item@(count != 1? "s":"")
    </p>

} 
else if (isSearch && count <= 0)
{
    <p>Showing @count items</p>
    <h5 class="text-danger">Ooops, no items matched your search..</h5>
}
<div class="container">
    <div class="row row-cols-3 small">
        @foreach (var item in Model.ItemList)
        {
            <div class="col card container-sm" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title"><strong>@item.TheItem.ItemName</strong></h5>
                    <p class="card-text">Category: @item.TheItem.Category.CategoryName</p>
                    <p class="card-text">Description:@item.TheItem.ItemDescription</p>
                    <p class="card-text">Cost: @item.TheItem.ItemCost</p>
                    <p class="card-text">Rating: @if (item.ReviewCount > 0)
                        {
                            <span>@item.AverageRating.ToString("F2") across @item.ReviewCount Reviews</span>
                        }
                        else
                        {
                            <span>This item has not been reviewed</span>
                        }
                    </p>
                    <img src="@item.TheItem.ItemImage" class="card-img-bottom" alt="@item.TheItem.ItemName" />
@*                     <p class="card-text">Rate @item.ItemStars from @item.ItemReviews reviews.</p> *@
                    <a asp-controller="Items" asp-action="Details" asp-route-id="@item.TheItem.ItemId" class="btn btn-outline-primary">
                View Item Detail
                </a>
                </div>
            </div>
          }
    </div>

</div>


@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
@* <div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="card" style="width: 22rem;">
                <img src="@item.ItemImage" class="card-img-top" alt="Image of @item.ItemName">
                <div class="card-body">
                    <h5 class="card-title"> @item.ItemName</h5>
                    <p class="card-text">@Html.DisplayFor(m => item.ItemDescription)</p>
                    <p class="card-text">@Html.DisplayFor(m => item.Category.CategoryName)</p>
                    <a asp-action="Details" asp-route-id="@item.ItemId" class="btn btn-outline-primary">View Item Detail</a>
                </div>
            </div>
        </div>

    }

</div> *@